<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% lista.forEach(function(anuncio) { %>
      <h2><%= anuncio.nombre %></h2>
      
      <% if (anuncio.venta) { %>
        <p>Venta</p>
      <% } else { %>
        <p>Compra</p>
      <% } %>

      <p><%= anuncio.precio %>€</p>

      <p><%= anuncio.foto %></p>

      <p><%= anuncio.tags %></p>
    
    
    <% }) %>




  </body>
</html>
